*{
	margin: 0px;
	margin: auto;
	padding: auto;
}
h1 {
	color: blue;
	background-color: red;
}

.errors {
	color: red;
}
#login {
	text-align: center;
	margin-bottom: 20px;
}
#logindetails {
	background-color: white;
	color: black;
	border-radius: 50px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#loginbackground {
	background-image: url(http://archive.beefjack.com/files/2011/10/video-game-clouds.jpg);
	position: absolute;
	width: 100%;
	height: 100%;
}
#down {
	margin-top: 20px;
}
.middle {
	align-items: center;
}
.ordersmenu {
	list-style-type: none;
    margin: 0;
    padding: 0;
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dashboard{
	background-color: lightgrey;
	width: 100%;
	height: 100%;
	background-size: cover;
}
.center {
	text-align: center;
	align-items: center;
}
.tableone {
	width: 100%;
	height: 200px;
	overflow: scroll;
	align-items: center;
	margin-top: 100px;
}
.dontshow {
	visibility: hidden;
}
