*{
	margin: 0px;
	margin: auto;
	padding: auto;
}
h1 {
	color: blue;
	background-color: red;
}

.errors {
	color: red;
}
#login {
	text-align: center;
	margin-bottom: 20px;
	opacity: 1;
}
#logindetails {
	background-color: white;
	color: black;
	border-radius: 50px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#loginbackground {
	background-image: url(http://archive.beefjack.com/files/2011/10/video-game-clouds.jpg);
	position: absolute;
	width: 100%;
	height: 100%;
}
#down {
	margin-top: 20px;
}
.middle {
	align-items: center;
}
.ordersmenu {
	list-style-type: none;
    margin: 0;
    padding: 0;
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dashboard{
	background-color: lightgrey;
	width: 100%;
	height: 100%;
	background-size: cover;
}
.center {
	text-align: center;
	align-items: center;
}
.tableone {
	width: 100%;
	height: 200px;
	overflow: scroll;
	align-items: center;
	margin-top: 100px;
}
.dontshow {
	visibility: hidden;
}
.checkoutmenu {
	float: right;
	display: inline-block;
	margin-top: 7px;
	margin-right: 20px;
}
.logo {
	display: inline-block;
	margin: 0px;
	color: white;
	margin-left: 20px;
}
.menucheckout {
	background-color: black;
	background-blend-mode: hard-light;
	position: fixed;
    top: 0;
    width: 100%;
	padding: 10px;
}
.checkouttable {
	width: 70%;
	text-align: center;
	margin-top: 100px;
	border-collapse: collapse;
}
.checkouthead {
	text-align: center;
	border-bottom: 3px solid black;
}
.border {
	border: 3px solid black;
}
.borderthin {
	border: 1px solid black;
}
#moveright {
	float: right;
	margin-right: 15%;
	text-align: right;
	margin-bottom: 100px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
}
.middlemiddle {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
#homem {
	background-color: white;
	color: black;
	border-radius: 50px;
	position: relative;
	opacity: 0.7;
	width: 400px;
	height: 230px;
	margin-bottom: 200px;
}
#ht {
	background-color: black;
	height: auto;
	width: auto;
	overflow: hidden;
}
.room {
	margin-bottom: 15px;
}
